
@{
    ViewBag.Title = "Ayarlar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Ayarlar</h2>
<div class="container">
    <div class="row col-md-8">
        <div class="form-group">
            <div class="form-row">
                <label for="kullaniciAdi">Kullanıcı Adı : </label>
                <input type="text" class="form-control" name="kullaniciAdi" id="kullaniciAdi" aria-describedby="nameHelp" placeholder="">
            </div>
        </div>

        <div class="form-group">
            <div class="form-row">
                <label for="ePosta">Eposta Adresi : </label>
                <input type="text" class="form-control" name="ePosta" id="ePosta" aria-describedby="nameHelp" placeholder="">
            </div>
        </div>
        <div class="form-group">
            <div class="form-row">
                <label for="parola">Parola</label>
                <input type="password" class="form-control" id="parola" name="parola" placeholder="Parolanızı girin">
            </div>
        </div>
        <div class="form-group">
            <div class="form-row">
                <label for="parolaDogrulama">Parolanızı tekrar girin : </label>
                <input type="password" class="form-control" id="parolaDogrulama" name="parolaDogrulama" placeholder="Parolanızı doğrulayın">
            </div>
        </div>
        <div class="form-group">
            <div class="form-row">
                <label for="fotograf">Profil resmi : </label>
                <input type="file" name="fotograf" id="fotograf" value="" accept=".jpg,.png,.gif,.JPEG,.jpeg" class="form-control" />
            </div>
        </div>
        <div class="col-md-offset-4 col-md-8">
            <a class="btn  btn-primary btn-info pull-right" keyID="@ViewBag.KID" href="#" id="guncelle">Profili Güncelle</a><br /><br /><br /><br />
       
        </div>
    </div>
</div>

<script src="~/Content/Login/js/jquery.min.js"></script>
<script src="~/Content/Login/js/popper.min.js"></script>
<script src="~/Content/Login/js/bootstrap.min.js"></script>
<script src="~/Content/Login/js/jquery-ui.min.js"></script>
<script src="~/Content/Login/js/bootstrap-timepicker.min.js"></script>
<script src="~/Content/Login/js/bootstrap-datepicker.min.js"></script>
<script src="~/Content/Login/js/daterangepicker.js"></script>
<script src="~/Content/Login/js/icheck.min.js"></script>
<script src="~/Content/Login/js/jquery.inputmask.date.extensions.js"></script>
<script src="~/Content/Login/js/jquery.inputmask.js"></script>
<script src="~/Content/Login/js/jquery.inputmask.extensions.js"></script>


<script type="text/javascript">
        $(function () {
            $("#guncelle").click(function () {
                console.log("tıklandı");
                var kullaniciAdi = $("#kullaniciAdi").val();
                var ePosta = $("#ePosta").val()
                var parola = $("#parola").val()
                var parolaDogrulama = $("#parolaDogrulama").val()
                var KID = $(this).attr("keyID");
                
                if (parola == parolaDogrulama)
                {
                    var parameters = {

                        kullaniciAdi: kullaniciAdi,
                        email: ePosta,
                        parola: parola,
                        kullaniciID: KID
                    }
                    console.log(parameters);
                    $.ajax({
                        url: '/api/Values/KullaniciGuncelle',
                        data: parameters,
                        type: 'POST',
                        dataType: 'json',
                        success: function (data1) {
                            console.log(data1);
                            window.location.href = 'Profil';
                                                         
                        }
                        });
                }
                else
                {
                    alert("parola dogrulanamadı");
                }
                
            });
        });
</script>