
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="description" content="">
    <meta name="author" content="">
    <title>oylesine</title>

    <!-- Bootstrap core CSS -->
    <link href="~/Content/Login/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="~/Content/Login/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="~/Content/Login/css/sb-admin.css" rel="stylesheet">

</head>

<body class="bg-dark">

    <div class="container">

        <div class="card card-login mt-5" style=" width: 600px; margin-left: auto; margin-right: auto ">
            <div class="card-header">
            Kullanıcı Girişi
        </div>
        <div class="card-body">
            <form>
                <div class="form-group">
                    <label for="ePosta">Eposta adresi : </label>
                    <input type="email" class="form-control" name="ePosta" id="ePosta" aria-describedby="emailHelp" placeholder="Eposta adresinizi girin">
                </div>
                <div class="form-group">
                    <label for="parola">Parola : </label>
                    <input type="password" class="form-control" id="parola" name="parola" placeholder="Parolanızı girin">
                </div>                
                <a class="btn btn-primary btn-block" href="#">Giriş Yap</a>
            </form>
            <div class="text-center">
                <a class="d-block small mt-3" href="~/Uye/Register">Kayıt Ol</a>
            </div>
        </div>
    </div>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="/Content/Login/js/jquery.min.js"></script>
    <script src="/Content/Login/js/popper.min.js"></script>
    <script src="/Content/Login/js/bootstrap.min.js"></script>


    <!-- Visual Studio Browser Link -->
    <script type="application/json" id="__browserLink_initializationData">
        {"appName":"Chrome","requestId":"96b0b87b072c4669955d38f0e0e48719"}
    </script>
    <script type="text/javascript" src="http://localhost:56269/33e877a3161d4331963b30660440d169/browserLink" async="async"></script>
    <!-- End Browser Link -->




</body>

</html>
