
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">

    <div class="row">
        <div class="form-group col-md-8">
            <textarea class="form-control" rows="4" placeholder="Hadi, bir şeyler yolla..."></textarea>
        </div>
    </div>
</div>
