
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}


<div class="container">
    
    <div class="row">
        <div class="form-group col-md-8">
            <br /><br /><textarea id="icerik" class="form-control" rows="4" placeholder="Hadi, bir şeyler yolla..."></textarea><br />
        </div>
        <div class="form-group">
            <div class="col-md-8">
                <button id="yolla" type="button" class="btn  btn-primary btn-info pull-right">Yolla!</button><br /><br /><br /><br />
                <hr />
            </div>
        </div>
        <div class="form-group col-md-8" id="pp">

        </div>
    </div>
</div>

<script>
    $(function () {
        console.log("icerde");

        var params = { kullaniciID: @Session["kullaniciId"] };
        var icerikk = $("#icerik").val();
        var datas =  { kullaniciID: @Session["kullaniciId"], Icerik: icerikk} ;

        $.ajax({
            url: '/api/Values/GonderileriGetir',
            data: params,
            type: 'POST',
            dataType: 'json',
            success: function (data) {
                console.log(data);
                $(data).each(function(){
                    console.log($(this.icerik).selector);
                    $("#pp").append("<p><i class=\"fa fa-user\"></i>" + $(this.kullaniciAdi).selector + "</p>");
                    $("#pp").append("<p align=\"center\">" + $(this.icerik).selector + "</p><br />");
                    $("#pp").append(" <button type=\"submit\" class=\" btn  btn-primary btn-info pull-left\">Sev</button>");
                    $("#pp").append(" <button type=\"submit\" class=\" btn  btn-primary btn-info pull-right\">Laf at</button><br /><br /><br /><br /><hr />");
                });


            }
        });

        $("#yolla").click(function(){
            $.ajax({
                url: '/api/Values/GonderiEkle',
                data: datas,
                type: 'POST',
                dataType: 'json',
                success: function (data) {
                    window.location.href = "/Home/Index";
                   


                }
            });
        });

    });
</script>
